table(width="100%", border="0", cellspacing="0", cellpadding="0")
    tr
        td(bgcolor="#ffffff", style="border-radius: 0px 0px 20px 20px; padding: 30px 0")
            table(width="100%", border="0", cellspacing="0", cellpadding="0")
                tr
                    td(class="m-padder2", align="center")
                        table(class="center", border="0", cellspacing="0", cellpadding="0", style="text-align:center;")
                            tr
                                td(class="img", width="40", style="font-size:0pt; line-height:0pt; text-align:left;")
                                    a(href="#", target="_blank")
                                        img(src="images/ico4_facebook.png", width="26", height="26", border="0", alt="")
                                td(class="img", width="40", style="font-size:0pt; line-height:0pt; text-align:left;")
                                    a(href="#", target="_blank")
                                        img(src="images/ico4_twitter.png", width="26", height="26", border="0", alt="")
                                td(class="img", width="40", style="font-size:0pt; line-height:0pt; text-align:left;")
                                    a(href="#", target="_blank")
                                        img(src="images/ico4_youtube.png", width="26", height="26", border="0", alt="")
                                td(class="img", width="40", style="font-size:0pt; line-height:0pt; text-align:left;")
                                    a(href="#", target="_blank")
                                        img(src="images/ico4_instagram.png", width="26", height="26", border="0", alt="")