// footer1 sec start
div(class="footer")
	div(class="container")
		div(class="row footer-container")
			div(class="col-sm-12 col-lg-4 f-sec1  text-center text-lg-left")
				h4(class="high-lighted-heading") About Us
				p We take our mission of increasing our global access to quality education seriously. 
				a(href="#") Read more
				h4 Social Network
				div(class="s-icons")
					ul(class="social-icons-simple")
						li
							a(href="javascript:void(0)", class="facebook-bg-hvr")
								i(class="fab fa-facebook-f", aria-hidden="true")
						li
							a(href="javascript:void(0)", class="twitter-bg-hvr")
								i(class="fab fa-twitter", aria-hidden="true")
						li
							a(href="javascript:void(0)", class="instagram-bg-hvr")
								i(class="fab fa-instagram", aria-hidden="true")
			div(class="col-sm-12 col-lg-5 f-sec2 ")
				div(class="row")
					div(class="col-12 col-md-6")
						h4(class="text-center text-md-left") Information
						ul(class="text-center text-md-left")
							li
								a(href="javascript:void(0)") About Us
							li
								a(href="javascript:void(0)") Delivery Information
							li
								a(href="javascript:void(0)") Privacy Policy
							li
								a(href="javascript:void(0)") Terms &amp; Condition
							li
								a(href="javascript:void(0)") FAQ
							li
								a(href="./contact.html") Contact Us
							li
								a(href="./product-listing.html") Products
					div(class="col-12 col-md-6")
						h4(class="text-center text-md-left") Account Info
						ul(class="text-center text-md-left")
							li
								a(href="javascript:void(0)") Login &amp; Register
							li
								a(href="./shop-cart.html") Order History
							li
								a(href="javascript:void(0)") Shipping Info
							li
								a(href="javascript:void(0)") Refund Policy
							li
								a(href="javascript:void(0)") Responsive Website
							li
								a(href="javascript:void(0)") Subscription
			div(class="col-sm-12 col-lg-3 f-sec3  text-center text-lg-left")
				h4 Our Portfolio
				div(class="foot-tag-list")
					span Classic
					span Journal
					span History
					span Poetry
					span Dictionary
					span Shopping
					span Fantasy
		div(class="row")
			div(class="col-12 footer_notes")
				p(class="whitecolor text-center w-100 wow fadeInDown") © 2021 Powered by 
					a(class="web-link", href="#", target="_blank") Delta
// foo0ter1 sec end
// START SEARCH AREA
div(class="search-box-overlay")
	a
		i#close-window(class="fas fa-times cross-sign")
	div(class="container")
		div(class="row")
			div(class="col-12 search-col")
				form(action="javascript:void(0)")
					div(class="input-group search-box-form")
						input(type="text", class="form-control", placeholder="Search Here", aria-label="Search Here")
						div(class="input-group-prepend")
							button#basic-addon1(class="input-group-text", type="submit")
								i(class="fas fa-search")
			div(class="search-listing row")
				div(class="col-12 mb-4")
					h4(class="") Filtered Items
				div(class="col-12")
					div(class="listing-search-scroll")
						div(class="media row")
							div(class="img-holder ml-1 mr-2 col-4")
								a(href="javascript:void(0)")
									img(src="./img/book-1.jpg", class="align-self-center", alt="cartitem")
							div(class="media-body mt-auto mb-auto col-8")
								h5(class="name")
									a(href="javascript:void(0)") So Sad Today
								p(class="category") Award Winning Book
								a(class="btn black-sm-btn", href="./shop-cart.html")
									i(class="fas fa-shopping-bag")
								a(class="btn black-sm-btn", href="javascript:void(0)")
									i(class="fas fa-eye")
						div(class="media row")
							div(class="img-holder ml-1 mr-2 col-4")
								a(href="javascript:void(0)")
									img(src="./img/book-2.jpg", class="align-self-center", alt="cartitem")
							div(class="media-body mt-auto mb-auto col-8")
								h5(class="name")
									a(href="javascript:void(0)") As I Lay Dying
								p(class="category") Award Winning Book
								a(class="btn black-sm-btn", href="./shop-cart.html")
									i(class="fas fa-shopping-bag")
								a(class="btn black-sm-btn", href="javascript:void(0)")
									i(class="fas fa-eye")
						div(class="media row")
							div(class="img-holder ml-1 mr-2 col-4")
								a(href="javascript:void(0)")
									img(src="./img/book-3.jpg", class="align-self-center", alt="cartitem")
							div(class="media-body mt-auto mb-auto col-8")
								h5(class="name")
									a(href="javascript:void(0)") Love Does
								p(class="category") Award Winning Book
								a(class="btn black-sm-btn", href="./shop-cart.html")
									i(class="fas fa-shopping-bag")
								a(class="btn black-sm-btn", href="javascript:void(0)")
									i(class="fas fa-eye")
						div(class="media row")
							div(class="img-holder ml-1 mr-2 col-4")
								a(href="javascript:void(0)")
									img(src="./img/book-2-1.jpg", class="align-self-center", alt="cartitem")
							div(class="media-body mt-auto mb-auto col-8")
								h5(class="name")
									a(href="javascript:void(0)") The Last Stand
								p(class="category") Award Winning Book
								a(class="btn black-sm-btn", href="./shop-cart.html")
									i(class="fas fa-shopping-bag")
								a(class="btn black-sm-btn", href="javascript:void(0)")
									i(class="fas fa-eye")