#carouselExampleControls(class="carousel slide", data-ride="carousel")
	div(class="carousel-inner")
		div(class="carousel-item active")
			// BANNER START
			div(class="homer-banner", style="\
								background: url(img/banner1.5.jpg); background-size: cover;background-position: center;background-repeat: no-repeat;\
								")
				div(class="container")
					div(class="row")
						div(class="slider-details col-12 col-lg-6 d-flex justify-content-center align-items-center")
							div(class="banner-description")
								span(class="small-heading animated fadeInRight delay-1s") BEST AVAILABLE
								h2(class="w-sm-100 w-md-100 w-lg-25 animated fadeInLeft delay-1s") BOOKS 
									span COLLECTION
								a(href="./product-listing.html", class="btn animated fadeInLeft delay-1s") SHOP NOW 
			// BANNER END
		div(class="carousel-item")
			// BANNER START
			div(class="homer-banner", style="\
								background: url(img/banner1.5.jpg); background-size: cover;background-position: center;background-repeat: no-repeat;\
								")
				div(class="container")
					div(class="row")
						div(class="slider-details col-12 col-lg-6 d-flex justify-content-center align-items-center")
							div(class="banner-description")
								span(class="small-heading animated fadeInRight delay-1s") BEST AVAILABLE
								h2(class="w-sm-100 w-md-100 w-lg-25 animated fadeInLeft delay-1s") BOOKS 
									span COLLECTION
								a(href="./product-listing.html", class="btn animated fadeInLeft delay-1s") SHOP NOW 
			// BANNER END
	a(class="carousel-control-prev", href="#carouselExampleControls", role="button", data-slide="prev")
		span(class="arrows", aria-hidden="true")
			img(src="./img/arrow1.svg", alt="")
		span(class="sr-only") Previous
	a(class="carousel-control-next", href="#carouselExampleControls", role="button", data-slide="next")
		span(class="arrows", aria-hidden="true")
			img(src="./img/arrow2.svg", alt="")
		span(class="sr-only") Next
// START OUR categories
div(class="categories")
	div(class="container")
		div(class="row")
			div(class="col-sm-6 col-md-3 col-lg-2")
				div(class="categories-content") 
					a(href="#") 
						div(class="categories-image") 
							img(src="img/products/01.webp" class="img-fluid")
						div(class="categories-details text-center")
							h5(class="categories-title") Free Shipping Item
			div(class="col-sm-6 col-md-3 col-lg-2")
				div(class="categories-content") 
					a(href="#") 
						div(class="categories-image") 
							img(src="img/products/02.webp" class="img-fluid")
						div(class="categories-details text-center")
							h5(class="categories-title") Free Shipping Item
			div(class="col-sm-6 col-md-3 col-lg-2")
				div(class="categories-content") 
					a(href="#") 
						div(class="categories-image") 
							img(src="img/products/03.webp" class="img-fluid")
						div(class="categories-details text-center")
							h5(class="categories-title") Free Shipping Item
			div(class="col-sm-6 col-md-3 col-lg-2")
				div(class="categories-content") 
					a(href="#") 
						div(class="categories-image") 
							img(src="img/products/04.webp" class="img-fluid")
						div(class="categories-details text-center")
							h5(class="categories-title") Free Shipping Item
			div(class="col-sm-6 col-md-3 col-lg-2")
				div(class="categories-content") 
					a(href="#") 
						div(class="categories-image") 
							img(src="img/products/05.webp" class="img-fluid")
						div(class="categories-details text-center")
							h5(class="categories-title") Free Shipping Item
			div(class="col-sm-6 col-md-3 col-lg-2")
				div(class="categories-content") 
					a(href="#") 
						div(class="categories-image") 
							img(src="img/products/06.webp" class="img-fluid")
						div(class="categories-details text-center")
							h5(class="categories-title") Free Shipping Item
			div(class="col-sm-6 col-md-3 col-lg-2")
				div(class="categories-content") 
					a(href="#") 
						div(class="categories-image") 
							img(src="img/products/02.webp" class="img-fluid")
						div(class="categories-details text-center")
							h5(class="categories-title") Free Shipping Item
			div(class="col-sm-6 col-md-3 col-lg-2")
				div(class="categories-content") 
					a(href="#") 
						div(class="categories-image") 
							img(src="img/products/01.webp" class="img-fluid")
						div(class="categories-details text-center")
							h5(class="categories-title") Free Shipping Item
// START OUR SERVICES
div(class="our-services")
	div(class="container")
		div(class="row")
			div(class="col-sm-12 col-md-12 col-lg-3")
				div(class="service")
					div(class="media")
						div(class="service-card")
							i(class="fas fa-truck mr-3")
							div(class="media-body")
								h5(class="mt-0") Free Shipping Item
								span Order over $500
			div(class="col-sm-12 col-md-12 col-lg-3")
				div(class="service")
					div(class="media")
						div(class="service-card")
							i(class="fas fa-undo mr-3")
							div(class="media-body")
								h5(class="mt-0") Money Back Guarantee
								span 100% money back
			div(class="col-sm-12 col-md-12 col-lg-3")
				div(class="service")
					div(class="media")
						div(class="service-card")
							i(class="fas fa-piggy-bank mr-3")
							div(class="media-body")
								h5(class="mt-0") Cash On Delivery
								span Lorem ipsum dolor amet
			div(class="col-sm-12 col-md-12 col-lg-3")
				div(class="service")
					div(class="media")
						div(class="service-card")
							i(class="fas fa-hands-helping mr-3")
							div(class="media-body")
								h5(class="mt-0") Help &amp; Support
								span Call us: +0123,4567.89
// END OUR SERVICES
// START PORTOLIO SECTION
div(class="portfolio-section")
	div(class="container")
		div(class="row")
			// START PORTFOLIO HEADING
			div(class="col-12")
				div(class="portfolioHeading text-center")
					h2(class="high-lighted-heading") Our Popular Product
					p Aenean imperdiet. Etiam ultricies nisi vel augue men tuhi spectrum alle me.
			// END PORTFOLIO HEADING
			// START FILTERS
			div(class="col-12")
				div(class="clearfix d-flex justify-content-center")
					#js-filters-blog-posts(class="cbp-l-filters-button cbp-1-filters-alignCenter")
						div(data-filter="*", class="cbp-filter-item-active cbp-filter-item") All 
						div(data-filter=".tab1", class="cbp-filter-item") Women's Clothing
						div(data-filter=".tab2", class="cbp-filter-item") Kids
						div(data-filter=".tab3", class="cbp-filter-item") Men's
						div(data-filter=".tab4", class="cbp-filter-item") Mozzaik
						div(data-filter=".tab5", class="cbp-filter-item") Health & Beauty
						div(data-filter=".tab6", class="cbp-filter-item") Home and Kitchen
			// END FILTERS
			// START PORTFOLIO IMAGES
			div(class="col-12")
				#js-grid-blog-posts(class="cbp")
					div(class="cbp-item tab1 tab2")
						//- a(class="portfolio-circle-cart prod-cart", href="./shop-cart.html")
						//- 	i(class="fa fa-shopping-cart")
						a(class="portfolio-circle-cart prod-fav", href="#")
							i(class="far fa-heart")
						a(class="portfolio-circle-cart prod-details", href="product-detail.html")
							i(class="far fa-eye")
						div(class="cbp-caption-defaultWrap")
							div(class="item")
								a(href="./img/products/01.webp", class="cbp-caption", data-fancybox="gallery1", data-title="")
									img(src="./img/products/04.webp", alt="")
						div(class="row product-details")
							div(class="col-12")
								div(class="cbp-l-grid-blog-title")
									a(href="#", target="_blank", class="portfolio-title") So Sad Today
							div(class="col-12")
								div(class="cbp-l-grid-blog-desc portfolio-des") $750.00
								div(class="the-price") 
									span(class="price-before") $800.00 
									span(class="discount") 20% off
								a(href="" class="btn add-to-cart-btn") add to cart 
					div(class="cbp-item tab1 tab2")
						a(class="portfolio-circle-cart prod-fav", href="#")
							i(class="far fa-heart")
						a(class="portfolio-circle-cart prod-details", href="product-detail.html")
							i(class="far fa-eye")
						div(class="cbp-caption-defaultWrap")
							div(class="item")
								a(href="./img/products/02.webp", class="cbp-caption", data-fancybox="gallery2", data-title="Book2")
									img(src="./img/products/02.webp", alt="")
						div(class="row product-details")
							div(class="col-12")
								div(class="cbp-l-grid-blog-title")
									a(href="#", target="_blank", class="portfolio-title") The Last Stand
							div(class="col-12")
								div(class="cbp-l-grid-blog-desc portfolio-des") $550.00
								div(class="the-price") 
									span(class="price-before") $800.00 
									span(class="discount") 20% off
								a(href="" class="btn add-to-cart-btn") add to cart 
					div(class="cbp-item tab1")
						a(class="portfolio-circle-cart prod-fav", href="#")
							i(class="far fa-heart")
						a(class="portfolio-circle-cart prod-details", href="product-detail.html")
							i(class="far fa-eye")
						div(class="cbp-caption-defaultWrap")
							div(class="item")
								a(href="./img/products/03.webp", class="cbp-caption", data-fancybox="gallery3", data-title="Shirt Name")
									img(src="./img/products/03.webp", alt="")
						div(class="row product-details")
							div(class="col-12")
								div(class="cbp-l-grid-blog-title")
									a(href="#", target="_blank", class="portfolio-title") Love Does
							div(class="col-12")
								div(class="cbp-l-grid-blog-desc portfolio-des") $450.00
								div(class="the-price") 
									span(class="price-before") $800.00 
									span(class="discount") 20% off
								a(href="" class="btn add-to-cart-btn") add to cart 
					div(class="cbp-item tab2 tab3")
						a(class="portfolio-circle-cart prod-fav", href="#")
							i(class="far fa-heart")
						a(class="portfolio-circle-cart prod-details", href="product-detail.html")
							i(class="far fa-eye")
						div(class="cbp-caption-defaultWrap")
							div(class="item")
								a(href="./img/products/04.webp", class="cbp-caption", data-fancybox="gallery4", data-title="Shirt Name")
									img(src="./img/products/04.webp", alt="")
						div(class="row product-details")
							div(class="col-12")
								div(class="cbp-l-grid-blog-title")
									a(href="#", target="_blank", class="portfolio-title") The Imortal Rules
							div(class="col-12")
								div(class="cbp-l-grid-blog-desc portfolio-des") $750.00
								div(class="the-price") 
									span(class="price-before") $800.00 
									span(class="discount") 20% off
								a(href="" class="btn add-to-cart-btn") add to cart 
					div(class="cbp-item tab2 tab3")
						a(class="portfolio-circle-cart prod-fav", href="#")
							i(class="far fa-heart")
						a(class="portfolio-circle-cart prod-details", href="product-detail.html")
							i(class="far fa-eye")
						div(class="cbp-caption-defaultWrap")
							div(class="item")
								a(href="./img/products/05.webp", class="cbp-caption", data-fancybox="gallery5", data-title="Shirt Name")
									img(src="./img/products/05.webp", alt="")
						div(class="row product-details")
							div(class="col-12")
								div(class="cbp-l-grid-blog-title")
									a(href="#", target="_blank", class="portfolio-title") As I Lay Dying
							div(class="col-12")
								div(class="cbp-l-grid-blog-desc portfolio-des") $450.00
								div(class="the-price") 
									span(class="price-before") $800.00 
									span(class="discount") 20% off
								a(href="" class="btn add-to-cart-btn") add to cart 
					div(class="cbp-item tab2 tab3")
						a(class="portfolio-circle-cart prod-fav", href="#")
							i(class="far fa-heart")
						a(class="portfolio-circle-cart prod-details", href="product-detail.html")
							i(class="far fa-eye")
						div(class="cbp-caption-defaultWrap")
							div(class="item")
								a(href="./img/products/06.webp", class="cbp-caption", data-fancybox="gallery6", data-title="Shirt Name")
									img(src="./img/products/06.webp", alt="")
						div(class="row product-details")
							div(class="col-12")
								div(class="cbp-l-grid-blog-title")
									a(href="#", target="_blank", class="portfolio-title") No One Belongs
							div(class="col-12")
								div(class="cbp-l-grid-blog-desc portfolio-des") $999.00
								div(class="the-price") 
									span(class="price-before") $800.00 
									span(class="discount") 20% off
								a(href="" class="btn add-to-cart-btn") add to cart 
					div(class="cbp-item tab4 tab5")
						a(class="portfolio-circle-cart prod-fav", href="#")
							i(class="far fa-heart")
						a(class="portfolio-circle-cart prod-details", href="product-detail.html")
							i(class="far fa-eye")
						div(class="cbp-caption-defaultWrap")
							div(class="item")
								a(href="./img/products/05.webp", class="cbp-caption", data-fancybox="gallery5", data-title="Shirt Name")
									img(src="./img/products/05.webp", alt="")
						div(class="row product-details")
							div(class="col-12")
								div(class="cbp-l-grid-blog-title")
									a(href="#", target="_blank", class="portfolio-title") As I Lay Dying
							div(class="col-12")
								div(class="cbp-l-grid-blog-desc portfolio-des") $450.00
								div(class="the-price") 
									span(class="price-before") $800.00 
									span(class="discount") 20% off
								a(href="" class="btn add-to-cart-btn") add to cart 
					div(class="cbp-item tab2 tab3")
						a(class="portfolio-circle-cart prod-fav", href="#")
							i(class="far fa-heart")
						a(class="portfolio-circle-cart prod-details", href="product-detail.html")
							i(class="far fa-eye")
						div(class="cbp-caption-defaultWrap")
							div(class="item")
								a(href="./img/products/06.webp", class="cbp-caption", data-fancybox="gallery6", data-title="Shirt Name")
									img(src="./img/products/06.webp", alt="")
						div(class="row product-details")
							div(class="col-12")
								div(class="cbp-l-grid-blog-title")
									a(href="#", target="_blank", class="portfolio-title") No One Belongs
							div(class="col-12")
								div(class="cbp-l-grid-blog-desc portfolio-des") $999.00
								div(class="the-price") 
									span(class="price-before") $800.00 
									span(class="discount") 20% off
								a(href="" class="btn add-to-cart-btn") add to cart 
			// END PORTFOLIO IMAGES
// END PORTOLIO SECTION
// START BANNER SECTION
div(class="banner-section parallax-slide")
	div(class="container")
		div(class="row")
			div(class="col-12 col-lg-6 text-center text-lg-left")
				div(class="banner-content-wrapper")
					span TRENDING PRODUCT OF THE WEEK
					h2 Free 
						span Shipping
					p Free shipping on all orders is shipped by mygshop for 100 Euro or more
					button(type="button", class="btn green-color-yellow-gradient-btn") BUY NOW
// END BANNER SECTION
// START LATEST ARRIVALS
div(class="lastest_arrivals")
	div(class="container")
		div(class="row")
			div(class="col-12 mb-4")
				h2 Published Books
			div(class="col-12")
				div(class="lastest_featured_products owl-carousel owl-theme")
					div(class="lastest_arrival_items item")
						a(class="lastest-addto-cart prod-fav", href="#")
							i(class="far fa-heart")
						a(class="lastest-addto-cart prod-details", href="product-detail.html")
							i(class="far fa-eye")
						div(class="card")
							span(class="product-type") NEW
							div(class="image-holder")
								a(href="./img/products/01.webp", data-fancybox="lastest_product", data-title="Shirt Name")
									img(src="./img/products/01.webp", class="card-img-top", alt="Lastest Arrivals 1")
							div(class="card-body")
								div(class="card-details")
									h5(class="card-title") Love In The Time
									div(class="the-price") 
										span(class="price-before") $800.00 
										span(class="discount") 20% off
								a(href="" class="btn add-to-cart-btn") add to cart 
					div(class="lastest_arrival_items item")
						a(href="./product-detail.html", class="lastest-addto-cart")
							i(class="fa fa-shopping-cart")
						div(class="card")
							span(class="product-type") NEW
							div(class="image-holder")
								a(href="./img/products/02.webp", data-fancybox="lastest_product", data-title="Lastest Arrivals 1")
									img(src="./img/products/02.webp", class="card-img-top", alt="Lastest Arrivals 1")
							div(class="card-body")
								div(class="card-details")
									h5(class="card-title") The Joke
									div(class="the-price") 
										span(class="price-before") $800.00 
										span(class="discount") 20% off
								a(href="" class="btn add-to-cart-btn") add to cart 
					div(class="lastest_arrival_items item")
						a(href="./product-detail.html", class="lastest-addto-cart")
							i(class="fa fa-shopping-cart")
						div(class="card")
							span(class="product-type") NEW
							div(class="image-holder")
								a(href="./img/products/03.webp", data-fancybox="lastest_product", data-title="Lastest Arrivals 1")
									img(src="./img/products/03.webp", class="card-img-top", alt="Lastest Arrivals 1")
							div(class="card-body")
								div(class="card-details")
									h5(class="card-title") Never Let Me Go 
									div(class="the-price") 
										span(class="price-before") $800.00 
										span(class="discount") 20% off
								a(href="" class="btn add-to-cart-btn") add to cart 
					div(class="lastest_arrival_items item")
						a(href="./product-detail.html", class="lastest-addto-cart")
							i(class="fa fa-shopping-cart")
						div(class="card")
							span(class="product-type") NEW
							div(class="image-holder")
								a(href="./img/products/04.webp", data-fancybox="lastest_product", data-title="Lastest Arrivals 1")
									img(src="./img/products/04.webp", class="card-img-top", alt="Lastest Arrivals 1")
							div(class="card-body")
								div(class="card-details")
									h5(class="card-title")  The Last World
									div(class="the-price") 
										span(class="price-before") $800.00 
										span(class="discount") 20% off
								a(href="" class="btn add-to-cart-btn") add to cart 
// END LATEST ARRIVALS