extend index 

block website_title 
	title Delta Information Technology | blogs

block home_block 
	section#saasio-breadcurmb(class="saasio-breadcurmb-section")
		div(class="container")
			div(class="breadcurmb-title text-center")
				h2 News Feed
			div(class="breadcurmb-item-list text-center ul-li")
				ul(class="saasio-page-breadcurmb")
					li
						a(href="#") Home
					li
						a(href="#") Blog Feed
	section#news-feed(class="news-feed-section")
		div(class="container")
			div(class="blog-feed-content")
				div(class="row")
					div(class="col-md-8")
						div(class="saasio-blog-details-content")
							div(class="blog-details-img")
								img(src="../assets/img/blog/news-9.jpg", alt="")
							div(class="blog-details-text dia-headline")
								h2 Content without backward-compatible data.
								div(class="saasio-post-meta")
									a(href="#")
										i(class="fas fa-calendar-alt")
										| September 12, 2020
									a(href="#")
										i(class="fas fa-user")
										| Admin
								article
									| It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum The man, who is in a stable condition in hospital, has &quot;potentially life-changing injuries&quot; after the overnight attack in Garvagh, County Lono donderry. He was shot in the arms and legs.&quot;What sort of men would think it is accepttable to sub ject a young girl to this level of brutality and violence?
								h3 Young girl to this level of brutality.
								article
									| It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum The man, who is in a stable condition in hospital, has &quot;potentially life-changing injuries&quot; after the overnight attack in Garvagh, County Lono donderry. He was shot in the arms and legs.&quot;What sort of men would think it is accepttable to sub ject a young girl to this level of brutality and violence?
								article
									| It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum The man, who is in a stable condition in hospital.He was shot in the arms and legs.&quot;What sort of men would think it is accepttable to sub ject a young girl to this level of brutality and violence?
								div(class="row")
									div(class="col-md-6")
										img(src="../assets/img/blog/news-10.jpg", alt="")
									div(class="col-md-6")
										img(src="../assets/img/blog/news-11.jpg", alt="")
								article
									| It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum The man, who is in a stable condition in hospital, has &quot;potentially life-changing injuries&quot; after the overnight attack in Garvagh, County Lono donderry. He was shot in the arms and legs.&quot;What sort of men would think it is accepttable to sub ject a young girl to this level of brutality and violence?
								blockquote
									| the readable content of a page when looking at its layout. The point of using Lorem Ipsum The man, who is in a stable condition in hospital, has &quot;potentially life-changing injuries&quot; after the overnight attack in Garvagh, County Lono donderry.
									h4 -Jemes Cook
								article
									| It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum The man, who is in a stable condition in hospital, has &quot;potentially life-changing injuries&quot; after the overnight attack in Garvagh, County Lono donderry. He was shot in the arms and legs.&quot;What sort of men would think it is accepttable to sub ject a young girl to this level of brutality and violence?
								article
									| It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum The man, who is in a stable condition in hospital.He was shot in the arms and legs.&quot;What sort of men would think it is accepttable to sub ject a young girl to this level of brutality and violence?
							div(class="blog-details-tag clearfix")
								div(class="blog-feed-tag float-left")
									span Tags:
									a(href="#") Business
									a(href="#") Life
									a(href="#") SaaSio
								div(class="blog-feed-share float-right")
									span Share:
									a(href="#")
										i(class="fb-bg fab fa-facebook-f ")
									a(href="#")
										i(class="bh-bg fab fa-behance")
									a(href="#")
										i(class="tw-bg fab fa-twitter")
									a(href="#")
										i(class="dr-bg fab fa-dribbble")
							div(class="saasio-comment-field dia-headline")
								h3 Comments (03)
								div(class="comment-list-item")
									div(class="comment-inner-box")
										div(class="comment-author-img float-left")
											img(src="../assets/img/blog/ca1.jpg", alt="")
										div(class="comment-author-text")
											h4
												a(href="#") Rolax Fellan
											span November 25, 2020 at 09:00 am
											p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using.
											a(class="comment-reply", href="#") Reply
									div(class="comment-inner-box")
										div(class="comment-author-img float-left")
											img(src="../assets/img/blog/ca2.jpg", alt="")
										div(class="comment-author-text")
											h4
												a(href="#") Daile Cane
											span November 25, 2020 at 09:00 am
											p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using.
											a(class="comment-reply", href="#") Reply
								h3 Post a comment
								div(class="comment-form")
									form(action="#")
										input(type="text", name="name", placeholder="Enter Your Full Name")
										input(type="email", name="email", placeholder="Enter Your  Email Address")
										input(type="tetx", name="website", placeholder="Enter Your Website")
										textarea(name="message", placeholder="Your Comment here...")
										button(type="submit") Comment
					div(class="col-md-4")
						div(class="saasio-blog-sidebar")
							div(class="side-bar-widget")
								div(class="search-widget dia-headline")
									h3(class="widget-title-2") Search
									form(action="", class="relative-position")
										input(type="text", name="search", placeholder="Search Here")
										button(type="submit")
											i(class="fas fa-search")
							div(class="side-bar-widget")
								div(class="category-widget dia-headline ul-li-block")
									h3(class="widget-title-2") Category
									ul
										li
											a(href="#") Application 
												span (06)
										li
											a(href="#") Software 
												span (06)
										li
											a(href="#") Landing Page 
												span (06)
							div(class="side-bar-widget")
								div(class="category-widget dia-headline ul-li-block")
									h3(class="widget-title-2") Recent Post
									div(class="recent-post-area")
										div(class="recent-post-img-text")
											div(class="recent-post-img float-left")
												img(src="../assets/img/blog/rec1.jpg", alt="")
											div(class="recent-post-text dia-headline")
												h3
													a(href="#") Engaging New  Smart Approach.
												span(class="rec-post-meta")
													a(href="#") December 12, 2020
										div(class="recent-post-img-text")
											div(class="recent-post-img float-left")
												img(src="../assets/img/blog/rec-2.jpg", alt="")
											div(class="recent-post-text dia-headline")
												h3
													a(href="#") Engaging New  Smart Approach.
												span(class="rec-post-meta")
													a(href="#") December 12, 2020
										div(class="recent-post-img-text")
											div(class="recent-post-img float-left")
												img(src="../assets/img/blog/rec-3.jpg", alt="")
											div(class="recent-post-text dia-headline")
												h3
													a(href="#") Engaging New  Smart Approach.
												span(class="rec-post-meta")
													a(href="#") December 12, 2020
							div(class="side-bar-widget")
								div(class="popular-widget dia-headline ul-li")
									h3(class="widget-title-2") Popular Tag
									ul
										li
											a(href="#") Application 
										li
											a(href="#") Software 
										li
											a(href="#") Landing 
										li
											a(href="#") App 
										li
											a(href="#") Design 