extend index 

block website_title 
	title Delta Information Technology | services

block home_block 
	section#saasio-breadcurmb(class="saasio-breadcurmb-section")
		div(class="container")
			div(class="breadcurmb-title text-center")
				h2 services
			div(class="breadcurmb-item-list text-center ul-li")
				ul(class="saasio-page-breadcurmb")
					li
						a(href="#") Home
					li
						a(href="#") services
	//Start of feature section
	section.str-feature-section.str-feature-section-page
		.container
			.str-section-title.text-center.str-title-center.str-headline
				span.str-title-tag Our awesome Services
				h2
					| We can give
					| facilites!
			.str-feature-content
				.row 
					.col-lg-4.col-md-6
						.str-feature-box.wow.fadeFromUp(data-wow-delay='0ms' data-wow-duration='1500ms')
							a(href="single-service.html") 
								.str-hover-icon.text-center
									i.fas.fa-plus
								.str-feature-icon-text.text-center
									.str-feature-icon
										img(src='../assets/img/startup/icon/f-icon1.png' alt='')
									.str-feature-text.str-headline
										h3 Data Analysis
										.str-feature-list.ul-li-block
											p Get a professional design and attractive colors that suit your business and identity. Delta delivers eye catching innovation to make a customer's first impression.
					.col-lg-4.col-md-6
						.str-feature-box.wow.fadeFromUp(data-wow-delay='300ms' data-wow-duration='1500ms')
							a(href="single-service.html") 
								.str-hover-icon.text-center
									i.fas.fa-plus
								.str-feature-icon-text.text-center
									.str-feature-icon
										img(src='../assets/img/startup/icon/f-icon2.png' alt='')
									.str-feature-text.str-headline
										h3 Website Development
										.str-feature-list.ul-li-block
											p Delta creates a website for you that suits your business and converts potential customers and visitors into real customers. We also care to make the site easy and fast for the user.
					.col-lg-4.col-md-6
						.str-feature-box.wow.fadeFromUp(data-wow-delay='600ms' data-wow-duration='1500ms')
							a(href="single-service.html") 
								.str-hover-icon.text-center
									i.fas.fa-plus
								.str-feature-icon-text.text-center
									.str-feature-icon
										img(src='../assets/img/startup/icon/f-icon3.png' alt='')
									.str-feature-text.str-headline
										h3 Seo
										.str-feature-list.ul-li-block
											p With the search engine optimization service, you can place your website on top of similar websites on the Google search engine, so that nearly 80% of the world's population can see it. It is worth noting that the method of improving search engine results is the most way to bring you the target audience Effectively, we at Delta help you reach that target audience.
					.col-lg-4.col-md-6
						.str-feature-box.wow.fadeFromUp(data-wow-delay='90ms' data-wow-duration='1500ms')
							a(href="single-service.html") 
								.str-hover-icon.text-center
									i.fas.fa-plus
								.str-feature-icon-text.text-center
									.str-feature-icon
										img(src='../assets/img/startup/icon/f-icon4.png' alt='')
									.str-feature-text.str-headline
										h3 Networks
										.str-feature-list.ul-li-block
											p Get a professional design and attractive colors that suit your business and identity. Delta delivers eye catching innovation to make a customer's first impression.
	//Start of feature section