.saas_two_section_title h2,
.str-section-title h2 {
  font-size: 30px;
  text-transform: capitalize;
}

.str-main-header .str-brand-logo img {
  max-width: 70px;
}

.str-main-header .str-main-menu-item .str-main-navigation {
  background-color: #fff;
}

.str-main-header .str-main-menu-item .str-main-navigation li a {
  color: #000;
  padding: 14px 25px;
}

.str-main-header .str-main-menu-item .str-main-navigation li a:hover {
  color: #fff;
}

.saas_two_main_header .s2-main-navigation {
  padding-top: 0;
}

.saas_two_main_header .s2-main-navigation .navbar-nav li {
  margin-right: 20px;
  font-size: 14px;
}

.saas_two_main_header .s2-main-navigation .navbar-nav li a {
  padding-bottom: 0;
}

.saas_two_main_header .main_menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.saas_two_main_header .saas_sign_up_btn {
  background-color: #2681DB;
}

.saas_two_main_header .brand_logo {
  padding-top: 0;
}

.saas_two_main_header .brand_logo img {
  max-width: 85px;
}

.saas_two_main_header .s2-main-navigation {
  padding-top: 0;
}

.saas_two_main_header .s2-main-navigation .navbar-nav li a::before {
  background-color: #FFB251;
  left: 0;
  bottom: -7px;
}

.saas_two_main_header .s2-main-navigation .navbar-nav li a:hover {
  color: #2681DB;
}

.saas_two_main_header .s2-main-navigation .navbar-nav li a:hover::before, .saas_two_main_header .s2-main-navigation .navbar-nav li a:hover::before {
  background-color: #2681DB;
}

.saas_two_main_header .s2-main-navigation .dropdown.user a::before {
  display: none;
}

.saas_two_main_header .s2-main-navigation .dropdown.user::after {
  display: none;
}

.saas_two_main_header .s2-mobile_menu_button {
  color: #2681DB;
}

.saas_two_main_header .dropdown .dropdown-menu li a {
  padding: 0;
  display: block;
}

.saas_two_main_header .dropdown .dropdown-menu li a:after {
  background-color: #2681DB;
  top: 7px;
}

.saas_two_main_header .saas_sign_up_btn {
  height: 45px;
  width: 125px;
  line-height: 45px;
}

.str-banner-slide-area .str-banner-content h1 {
  font-size: 50px;
}

.saas_two_banner_section .s2-banner_content h1 {
  font-size: 36px;
}

.saas_two_section_title .title_tag,
.saas_two_banner_section .s2-banner_content .s2-tilte_tag,
.saas_two_feature_section .s2-feature_text .feature_tag,
.integration_section .integration_text .feature_tag {
  color: #2681DB;
  background-color: #c4e1ff;
}

.saas_two_banner_section .s2-banner_content .banner_btn a {
  border-color: #2681DB;
}

.saas_two_banner_section .s2-banner_content .banner_btn a:after,
.saas_two_feature_section .s2-feature_text .saas_btn a:after,
.s2-pricing_section .s2-pricing_item .s2-pricing_btn a:after {
  background-color: #2681DB;
}

.saas_btn:before,
.service_read_more a:after,
.saas_two_about_section .s2-about_text_icon .s2-about_text a:after,
.integration_section .integration_text a:after,
.saas_two_banner_section .s2-banner_content .banner_btn a i,
.saas_two_feature_section .s2-feature_text .saas_btn a i,
.s2-pricing_section .s2-pricing_item .s2-pricing_btn a i {
  background: linear-gradient(-45deg, #2681DB 32%, #000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.saas_two_banner_section .s2-banner_content .banner_btn a:before,
.saas_two_feature_section .s2-feature_text .saas_btn a:before,
.s2-pricing_section .s2-pricing_item .s2-pricing_btn a:before {
  -webkit-box-shadow: 0 0 30px 31px #FFB251;
          box-shadow: 0 0 30px 31px #FFB251;
}

.str-feature-section .str-feature-icon-text .str-feature-text h3 {
  font-size: 18px;
  min-height: 80px;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.str-about-section .str-about-content .str-progress-area h3 {
  font-size: 15px;
  font-weight: 500;
}

.s2-pricing_section .s2-pricing_item {
  max-width: 100%;
}

.str-partner-section {
  background-color: #edf2f9;
}

.str-partner-section .owl-item .str-partner-img {
  width: 100%;
  height: 200px;
  background-color: #fff;
  border-radius: 10px;
}

.str-partner-section .owl-item .str-partner-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.crm-partner-section::after {
  display: none;
}

.str-get-in-touch-section {
  padding-bottom: 70px;
  padding-top: 70px;
}

.saasio-breadcurmb-section {
  background-color: #2681DB;
  padding: 160px 0px 70px;
  text-transform: capitalize;
}

.saas_two_about_section {
  background-color: #fafafa;
}

.saas_two_about_section .str-section-title {
  max-width: 100%;
}

.saas_two_about_section .str-section-title h2 {
  margin-bottom: 10px;
}

.saas_two_about_section .about_content_s2 .s2-about_img {
  height: 392px;
}

.saas_two_about_section .about_content_s2 .s2-about_img img {
  object-fit: cover;
  -o-object-fit: cover;
}

.str-feature-section-page .str-feature-box {
  margin-bottom: 25px;
}

.str-feature-section-page .str-feature-icon-text {
  border-radius: 30px;
}

.str-feature-section-page .str-feature-icon-text .str-feature-text .str-feature-list {
  padding: 0 15px;
}

.str-feature-section-page .str-feature-icon-text:hover:before {
  left: 0;
}

.str-feature-section-page .str-feature-icon-text:hover:after {
  left: 0;
}

.str-feature-section-page .str-feature-icon-text:hover p {
  color: #fff;
}

.str-feature-section-page .str-feature-icon-text p {
  text-align: center;
  min-height: 80px;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.str-partner-section-page {
  background-color: #f3f3f3;
}

.str-partner-section-page .str-section-title {
  margin-bottom: 50px;
}

.str-partner-section-page .str-partner-area {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (214px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 214px);
  gap: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.str-partner-section-page .str-partner-area .str-partner-img {
  text-align: center;
  height: 200px;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0 20px -5px #c5c5c5;
          box-shadow: 0px 0 20px -5px #c5c5c5;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.str-partner-section-page .str-partner-area .str-partner-img:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.str-partner-section-page .str-partner-area .str-partner-img img {
  object-fit: contain;
  -o-object-fit: contain;
  height: 100%;
  width: 100%;
}

.str-contact-section {
  padding: 70px 0;
}

.str-contact-section .str-section-title {
  margin-bottom: 50px;
}

.str-contact-section .str-section-title h2:before {
  bottom: -10px;
  top: auto;
}

.str-contact-section .contact-info h3 {
  margin-bottom: 15px;
}

.str-contact-section .contact-info p {
  padding-left: 45px;
  position: relative;
  line-height: 35px;
  color: #808080;
}

.str-contact-section .contact-info p i {
  position: absolute;
  left: 0;
  top: 0;
  height: 35px;
  width: 35px;
  line-height: 35px;
  text-align: center;
  border: 1px solid #2681DB;
  border-radius: 50%;
  color: #2681DB;
}

.str-contact-section .getin_form .form-control {
  border: 1px solid #d7d7d7;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 41px;
  color: #b6b8ba;
  font-size: 0.875rem;
  border-radius: 15px;
}

.str-contact-section .getin_form .form-control:focus {
  border-color: #2681DB;
}

.str-contact-section .getin_form textarea {
  min-height: 160px;
  resize: none;
}

.str-contact-section .getin_form .gradient-btn {
  background-size: 200% auto;
  background-image: linear-gradient(-30deg, #008df9 0%, #6006b3 100%);
  background-position: right center;
  position: relative;
  display: inline-block;
  font-size: 15px;
  padding: .8rem 2.25rem;
  line-height: 1;
  text-transform: capitalize;
  text-align: center;
  font-weight: 500;
  z-index: 1;
  border: 1px solid transparent;
  border-radius: 30px;
  color: #fff;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.str-contact-section .getin_form .gradient-btn:hover {
  background-position: left center;
}

.str-login-register-section {
  padding: 70px 0;
  background-color: #f7f7f7;
}

.str-login-register-section .str-aboutbg1 {
  top: -20%;
  left: 0;
}

.str-login-register-section .str-aboutbg2 {
  top: 20%;
  right: -5%;
}

.str-login-register-section .str-aboutbg3 {
  bottom: -10%;
  left: -10%;
}

.str-login-register-section .login_register_form {
  max-width: 750px;
  margin: auto;
  width: 100%;
  background-color: #2681db;
  padding: 50px 40px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 15px -3px #d4d4d4;
          box-shadow: 0 0 15px -3px #d4d4d4;
}

.str-login-register-section .login_register_form label {
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-transform: capitalize;
}

.str-login-register-section .login_register_form .form-control {
  background-color: #fff;
  border-color: transparent;
  height: auto;
  padding: 10px 15px;
  border-radius: 20px;
}

.str-login-register-section .login_register_form .form-control:focus {
  border-color: #FFB251;
}

.str-login-register-section .login_register_form .form-check label {
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.str-login-register-section .login_register_form .form-check .forget-pass {
  color: #fff;
  float: right;
}

.str-login-register-section .login_register_form .btn {
  background-color: #FFB251;
  padding: 8px 45px;
  border-radius: 20px;
  color: #fff;
}

.str-login-register-section .login_register_form textarea {
  resize: none;
}

.str-footer-area {
  padding-top: 35px;
  background-color: #eee;
}

.str-footer-area .footer-content .str-footer-widget .str-newslatter-widget input {
  background-color: #fff;
}

.str-footer-area .footer-content .str-footer-widget .str-office-widget .str-office-icon-text p,
.str-footer-area .footer-content .str-footer-widget .str-office-widget .str-open-hour p {
  max-width: 100%;
}

.str-footer-area .str-copywright-text a {
  margin: 0 5px;
}
/*# sourceMappingURL=over-style.css.map */