extend index 

block website_title 
	title Delta Information Technology | about

block home_block 
	section#saasio-breadcurmb(class="saasio-breadcurmb-section")
		div(class="container")
			div(class="breadcurmb-title text-center")
				h2 about
			div(class="breadcurmb-item-list text-center ul-li")
				ul(class="saasio-page-breadcurmb")
					li
						a(href="#") Home
					li
						a(href="#") about
	//Start of about section
	section(id="saas_two_about", class="saas_two_about_section relative-position")
		div(class="container")
			.str-section-title.text-center.str-title-center.str-headline
				h2
					| About Us
				p we have one simple focus i.e., to enable an infrastructure with advanced technologies thatdelivers not only on performance, but also on investment, As a leading end-to-end solutions integrator, we harness our vast resourses and specialized skills, with our strategic partnerships and broad regional presence to offer expert technology solution to buisiness. Our expertise in the design, supply, integration and management of Security System, Telecommunications, IT solutions infrastructure makes us a preferred partner for businesses - ranging from Contact centers and Enterprises to Government and Service Providers. The depth and breadth of our experience, which spans projects for a varied clientele, is our greatest asset and customers are our best testmonials
			div(class="about_content_s2")
				div(class="row")
					div(class="col-lg-6 col-md-12 wow fadeFromLeft", data-wow-delay="300ms", data-wow-duration="1500ms")
						div(class="s2-about_img")
							img(src="assets/img/saas-c/about/s_ab2.png", alt="")
					div(class="col-lg-6 col-md-12 wow fadeFromRight", data-wow-delay="300ms", data-wow-duration="1500ms")
						div(class="s2-about_text_icon")
							div(class="s2-about_text saas2-headline pera-content")
								h3 Our Vision
								p To become Delta Information Technology, Import and Export the leader in providing security systems solutions and services (high quality products, strong management, distinguished services, which are achieved through our extensive experience in this field during the past years).
								a(href="!#") Read all 
			//about first content
			div(class="about_content_s2")
				div(class="row")
					div(class="col-lg-6 col-md-12 wow fadeFromLeft", data-wow-delay="300ms", data-wow-duration="1500ms")
						div(class="s2-about_text_icon")
							div(class="s2-about_text saas2-headline pera-content")
								h3 Our Mission
								p Our Mission Our mission is to establish a long-term professional relationship with our clients. Our mission will also be to continue to grow and achieve the ability to adapt to changing circumstances by providing new concepts and solutions. Our mission is to implement customer-focused solutions by providing the best and latest in the field of information and communication technology and security systems to achieve our customers Best return on their investment and thus peace of mind.
								a(href="!#") Read all 
					div(class="col-lg-6 col-md-12 wow fadeFromRight", data-wow-delay="300ms", data-wow-duration="1500ms")
						div(class="s2-about_img")
							img(src="assets/img/saas-c/about/s_ab2.png", alt="")
			//about first content
			div(class="about_content_s2")
				div(class="row")
					div(class="col-lg-6 col-md-12 wow fadeFromRight", data-wow-delay="300ms", data-wow-duration="1500ms")
						div(class="s2-about_img")
							img(src="assets/img/saas-c/about/s_ab2.png", alt="")
					div(class="col-lg-6 col-md-12 wow fadeFromLeft", data-wow-delay="300ms", data-wow-duration="1500ms")
						div(class="s2-about_text_icon")
							div(class="s2-about_text saas2-headline pera-content")
								h3 Quality Policy
								p Delta Information Technology, Import and Export is keen to provide the best services to our customers with an emphasis on continuous development, permanent improvement, immediate response and accuracy in order to achieve complete customer satisfaction.
								a(href="!#") Read all 
			//about first content
			div(class="about_content_s2")
				div(class="row")
					div(class="col-lg-6 col-md-12 wow fadeFromLeft", data-wow-delay="300ms", data-wow-duration="1500ms")
						div(class="s2-about_text_icon")
							div(class="s2-about_text saas2-headline pera-content")
								h3 Partners
								p Delta Information Technology Import and Export continuously strives to connect with the best suppliers of ICT products, security systems and service providers.
								a(href="!#") Read all 
					div(class="col-lg-6 col-md-12 wow fadeFromRight", data-wow-delay="300ms", data-wow-duration="1500ms")
						div(class="s2-about_img")
							img(src="assets/img/saas-c/about/s_ab2.png", alt="")
			//about first content
			div(class="about_content_s2")
				div(class="row")
					div(class="col-lg-6 col-md-12 wow fadeFromRight", data-wow-delay="300ms", data-wow-duration="1500ms")
						div(class="s2-about_img")
							img(src="assets/img/saas-c/about/s_ab2.png", alt="")
					div(class="col-lg-6 col-md-12 wow fadeFromLeft", data-wow-delay="300ms", data-wow-duration="1500ms")
						div(class="s2-about_text_icon")
							div(class="s2-about_text saas2-headline pera-content")
								h3 Company Team
								p The company works to attract the best human cadres working in the field of information and communication technology. The matter is not limited to selecting the most worthy competencies, but rather works to ensure that its employees have the best scientific and practical skills by supporting all workers in the qualifying development courses that give the best results at work and the company is keen to apply standards Essential in selecting all qualified personnel and employing them in it, provided that they have scientific expertise.
								a(href="!#") Read all 
			//about first content
	//End of About  section
