extend index 

block website_title 
	title Delta Information Technology | blogs

block home_block 
	section#saasio-breadcurmb(class="saasio-breadcurmb-section")
		div(class="container")
			div(class="breadcurmb-title text-center")
				h2 News Feed
			div(class="breadcurmb-item-list text-center ul-li")
				ul(class="saasio-page-breadcurmb")
					li
						a(href="#") Home
					li
						a(href="#") Blog Feed
	section#news-feed(class="news-feed-section")
		div(class="container")
			div(class="blog-feed-content")
				div(class="row")
					div(class="col-md-8")
						div(class="blog-feed-post")
							div(class="blog-feed-img-txt")
								div(class="row")
									div(class="col-lg-6 col-md-12 col-sm-12")
										div(class="saasio-blog-img")
											img(src="assets/img/blog/news-4.jpg", alt="")
									div(class="col-lg-6 col-md-12 col-sm-12")
										div(class="saasio-blog-text")
											h3
												a(href="blog-single.html") Strategy for Norway&apos;s Peion to Fund Global.
											div(class="saasio-post-meta")
												a(href="#")
													i(class="fas fa-calendar-alt")
													| September 12, 2020
												a(href="#")
													i(class="fas fa-user")
													| Admin
											p At vero eos et accusamus et iustoodio digni goikussimos ducimus qui blanp ditiis praesum voluum.
											a(class="blog-read-more", href="#") Read More
						div(class="blog-feed-post")
							div(class="blog-feed-img-txt")
								div(class="row")
									div(class="col-lg-6 col-md-12 col-sm-12")
										div(class="saasio-blog-img")
											img(src="assets/img/blog/news-5.jpg", alt="")
									div(class="col-lg-6 col-md-12 col-sm-12")
										div(class="saasio-blog-text")
											h3
												a(href="blog-single.html") Food industry leaders often change their profound to...
											div(class="saasio-post-meta")
												a(href="#")
													i(class="fas fa-calendar-alt")
													| September 12, 2020
												a(href="#")
													i(class="fas fa-user")
													| Admin
											p At vero eos et accusamus et iustoodio digni goikussimos ducimus qui blanp ditiis praesum voluum.
											a(class="blog-read-more", href="#") Read More
						div(class="blog-feed-post")
							div(class="blog-feed-img-txt")
								div(class="row")
									div(class="col-lg-6 col-md-12 col-sm-12")
										div(class="saasio-blog-img")
											img(src="assets/img/blog/news-6.jpg", alt="")
									div(class="col-lg-6 col-md-12 col-sm-12")
										div(class="saasio-blog-text")
											h3
												a(href="blog-single.html") What we are capable to beo usually discovered.
											div(class="saasio-post-meta")
												a(href="#")
													i(class="fas fa-calendar-alt")
													| September 12, 2020
												a(href="#")
													i(class="fas fa-user")
													| Admin
											p At vero eos et accusamus et iustoodio digni goikussimos ducimus qui blanp ditiis praesum voluum.
											a(class="blog-read-more", href="#") Read More
						div(class="blog-feed-post")
							div(class="blog-feed-img-txt")
								div(class="row")
									div(class="col-lg-6 col-md-12 col-sm-12")
										div(class="saasio-blog-img")
											img(src="assets/img/blog/news-7.jpg", alt="")
									div(class="col-lg-6 col-md-12 col-sm-12")
										div(class="saasio-blog-text")
											h3
												a(href="blog-single.html") How to go about  an start-up in a matter of days.
											div(class="saasio-post-meta")
												a(href="#")
													i(class="fas fa-calendar-alt")
													| September 12, 2020
												a(href="#")
													i(class="fas fa-user")
													| Admin
											p At vero eos et accusamus et iustoodio digni goikussimos ducimus qui blanp ditiis praesum voluum.
											a(class="blog-read-more", href="#") Read More
						div(class="saasio-pagination text-center ul-li")
							ul
								li
									a(href="#") 1
								li
									a(href="#") 2
								li
									a(class="active", href="#") 3
								li
									a(href="#") ...
								li
									a(href="#") 10
					div(class="col-md-4")
						div(class="saasio-blog-sidebar")
							div(class="side-bar-widget")
								div(class="search-widget dia-headline")
									h3(class="widget-title-2") Search
									form(action="", class="relative-position")
										input(type="text", name="search", placeholder="Search Here")
										button(type="submit")
											i(class="fas fa-search")
							div(class="side-bar-widget")
								div(class="category-widget dia-headline ul-li-block")
									h3(class="widget-title-2") Category
									ul
										li
											a(href="#") Application 
												span (06)
										li
											a(href="#") Software 
												span (06)
										li
											a(href="#") Landing Page 
												span (06)
							div(class="side-bar-widget")
								div(class="category-widget dia-headline ul-li-block")
									h3(class="widget-title-2") Recent Post
									div(class="recent-post-area")
										div(class="recent-post-img-text")
											div(class="recent-post-img float-left")
												img(src="assets/img/blog/rec1.jpg", alt="")
											div(class="recent-post-text dia-headline")
												h3
													a(href="#") Engaging New  Smart Approach.
												span(class="rec-post-meta")
													a(href="#") December 12, 2020
										div(class="recent-post-img-text")
											div(class="recent-post-img float-left")
												img(src="assets/img/blog/rec-2.jpg", alt="")
											div(class="recent-post-text dia-headline")
												h3
													a(href="#") Engaging New  Smart Approach.
												span(class="rec-post-meta")
													a(href="#") December 12, 2020
										div(class="recent-post-img-text")
											div(class="recent-post-img float-left")
												img(src="assets/img/blog/rec-3.jpg", alt="")
											div(class="recent-post-text dia-headline")
												h3
													a(href="#") Engaging New  Smart Approach.
												span(class="rec-post-meta")
													a(href="#") December 12, 2020
							div(class="side-bar-widget")
								div(class="popular-widget dia-headline ul-li")
									h3(class="widget-title-2") Popular Tag
									ul
										li
											a(href="#") Application 
										li
											a(href="#") Software 
										li
											a(href="#") Landing 
										li
											a(href="#") App 
										li
											a(href="#") Design 
