extend index 

block website_title 
	title Delta Information Technology | customers

block home_block 
	section#saasio-breadcurmb(class="saasio-breadcurmb-section")
		div(class="container")
			div(class="breadcurmb-title text-center")
				h2 customers
			div(class="breadcurmb-item-list text-center ul-li")
				ul(class="saasio-page-breadcurmb")
					li
						a(href="#") Home
					li
						a(href="#") customers
	//Start of str-partner  section
	section.str-partner-section.str-partner-section-page
		.container
			.str-section-title.text-center.str-title-center.str-headline
				h2
					| Customers
			.str-partner-area
				.str-partner-img
					img(src='assets/img/startup/partner/p1.png' alt='')
				.str-partner-img
					img(src='assets/img/startup/partner/p2.png' alt='')
				.str-partner-img
					img(src='assets/img/startup/partner/p3.png' alt='')
				.str-partner-img
					img(src='assets/img/startup/partner/p4.png' alt='')
				.str-partner-img
					img(src='assets/img/startup/partner/p5.png' alt='')
				.str-partner-img
					img(src='assets/img/startup/partner/p6.png' alt='')
				.str-partner-img
					img(src='assets/img/startup/partner/p7.png' alt='')
				.str-partner-img
					img(src='assets/img/startup/partner/p8.png' alt='')
				.str-partner-img
					img(src='assets/img/startup/partner/p9.png' alt='')
				.str-partner-img
					img(src='assets/img/startup/partner/p10.png' alt='')
				.str-partner-img
					img(src='assets/img/startup/partner/p11.png' alt='')
				.str-partner-img
					img(src='assets/img/startup/partner/p12.png' alt='')
				.str-partner-img
					img(src='assets/img/startup/partner/p13.png' alt='')
	//End of str-partner section