extend index 

block website_title 
	title Delta Information Technology | single service

block home_block 
	section#saasio-breadcurmb(class="saasio-breadcurmb-section")
		div(class="container")
			div(class="breadcurmb-title text-center")
				h2 services
			div(class="breadcurmb-item-list text-center ul-li")
				ul(class="saasio-page-breadcurmb")
					li
						a(href="#") Home
					li
						a(href="#") services
					li
						a(href="#") Digital marketing
	//Start of feature section
	section.str-feature-section.str-feature-section-page.str-single-service
		.container
			.str-section-title.text-center.str-title-center.str-headline
					h2
						| Digital marketing
			.str-feature-content
				.row 
					.col-lg-12.col-md-12
						.str-feature-box.wow.fadeFromUp(data-wow-delay='0ms' data-wow-duration='1500ms')
							.str-feature-icon-text.text-center
								.str-feature-icon
									img(src='assets/img/startup/icon/f-icon1.png' alt='')
								.str-feature-text.str-headline
									h3 E-Marketing
									.str-feature-list.ul-li-block
										p Delta provides integrated services to manage advertising campaigns on Google and social media pages • Very accurate targeting that suits the nature of your activity to reach potential customers with high accuracy and at an appropriate cost. • Determining the appropriate marketing tools for the nature of the business, such as Google ads or through social media platforms, and selecting the audience with high accuracy. • Through marketing experts, your opportunity to correct the course of your advertising plans exists and can be used after the amendment to suit your business and achieve your goal. The best marketing plan ever We put our expertise in your hands We employ all the different electronic marketing mechanisms in developing a comprehensive plan to reach the goals in a thoughtful manner, and we follow the plan step by step.
					.col-lg-12.col-md-12
						.str-feature-box.wow.fadeFromUp(data-wow-delay='0ms' data-wow-duration='1500ms')
							.str-feature-icon-text.text-center
								.str-feature-icon
									img(src='assets/img/startup/icon/f-icon1.png' alt='')
								.str-feature-text.str-headline
									h3 Facebook Ads
									.str-feature-list.ul-li-block
										p Facebook ads are not just an advertising campaign, but rather precise targeting, by specifying the age and preferences of the target customer; To get the reaction from the customer, and this is what we take into account in Delta; Because we are working to employ all the information in determining the target group, and we constantly analyze the advertising campaign to reach the ideal cost and the desired targeting.
					.col-lg-12.col-md-12
						.str-feature-box.wow.fadeFromUp(data-wow-delay='0ms' data-wow-duration='1500ms')
							.str-feature-icon-text.text-center
								.str-feature-icon
									img(src='assets/img/startup/icon/f-icon1.png' alt='')
								.str-feature-text.str-headline
									h3 Google Ads
									.str-feature-list.ul-li-block
										p Accurate targeting by anticipating potential customers for your activity or idea, managing advertising campaigns on Google and continuously testing the results of the campaign to reach the best targeting at the lowest price per click, through which you can appear at the top of search engines and achieve excellent results.
					.col-lg-12.col-md-12
						.str-feature-box.wow.fadeFromUp(data-wow-delay='0ms' data-wow-duration='1500ms')
							.str-feature-icon-text.text-center
								.str-feature-icon
									img(src='assets/img/startup/icon/f-icon1.png' alt='')
								.str-feature-text.str-headline
									h3 Marketing From Social Media Platforms
									.str-feature-list.ul-li-block
										p We guarantee results and achieve your goals with the budget; Because we use our experience in the world of marketing in order to choose the best platform for your business from different platforms such as (Facebook - Twitter - Instagram - LinkedIn), and we also employ visual content through marketing (YouTube), which achieves a very wide spread for you.