extend index 

block website_title 
	title Delta Information Technology | Portfolio

block home_block 
	section#saasio-breadcurmb(class="saasio-breadcurmb-section")
		div(class="container")
			div(class="breadcurmb-title text-center")
				h2 Portfolio
			div(class="breadcurmb-item-list text-center ul-li")
				ul(class="saasio-page-breadcurmb")
					li
						a(href="#") Home
					li
						a(href="#") Portfolio
	//Start of case study section
	section#smm-case-study(class="smm-case-study-section")
		div(class="container")
			.str-section-title.text-center.str-title-center.str-headline
				h2
					| our recent work
			div(class="smm-case-study-wrapper")
				div(class="smm-case-tab text-center clearfix ul-li")
					ul#tabs(class="nav text-uppercase nav-tabs")
						li(class="nav-item")
							a(href="#", data-target="#development", data-toggle="tab", class="nav-link text-capitalize active show") Web Development
						li(class="nav-item")
							a(href="#", data-target="#design", data-toggle="tab", class="nav-link text-capitalize") Graphic Design  
						li(class="nav-item")
							a(href="#", data-target="#social", data-toggle="tab", class="nav-link text-capitalize") Web Design 
						li(class="nav-item")
							a(href="#", data-target="#web", data-toggle="tab", class="nav-link text-capitalize") Social Marketing 
						li(class="nav-item")
							a(href="#", data-target="#digital", data-toggle="tab", class="nav-link text-capitalize") Digital Marketing 
				// /tab_button
				div(class="smm-case-tab-content")
					#tabsContent(class="tab-content")
						#development(class="tab-pane fade active show")
							div(class="smm-case-content")
								div(class="row")
									div(class="col-md-4")
										div(class="smm-case-innerbox position-relative")
											div(class="smm-case-img")
												img(src="assets/img/smm/case/sm-cs1.jpg", alt="")
											div(class="smm-case-text smm-headline pera-content")
												h3
													a(href="#") Paid Search Advertizing
												p Lorem ipsum dolor sit amet, consectetu r adipisicing elit, sed do eiusmod
											div(class="smm-case-popup")
												a(class="smm-video-box", href="assets/img/smm/case/sm-cs1.jpg")
													i(class="flaticon-plus")
									div(class="col-md-4")
										div(class="smm-case-innerbox position-relative")
											div(class="smm-case-img")
												img(src="assets/img/smm/case/sm-cs2.jpg", alt="")
											div(class="smm-case-text smm-headline pera-content")
												h3
													a(href="#") Paid Search Advertizing
												p Lorem ipsum dolor sit amet, consectetu r adipisicing elit, sed do eiusmod
											div(class="smm-case-popup")
												a(class="smm-video-box", href="assets/img/smm/case/sm-cs2.jpg")
													i(class="flaticon-plus")
									div(class="col-md-4")
										div(class="smm-case-innerbox position-relative")
											div(class="smm-case-img")
												img(src="assets/img/smm/case/sm-cs3.jpg", alt="")
											div(class="smm-case-text smm-headline pera-content")
												h3
													a(href="#") Paid Search Advertizing
												p Lorem ipsum dolor sit amet, consectetu r adipisicing elit, sed do eiusmod
											div(class="smm-case-popup")
												a(class="smm-video-box", href="assets/img/smm/case/sm-cs3.jpg")
													i(class="flaticon-plus")
						// 1st tab content
						#design(class="tab-pane fade")
							div(class="smm-case-content")
								div(class="row")
									div(class="col-md-4")
										div(class="smm-case-innerbox position-relative")
											div(class="smm-case-img")
												img(src="assets/img/smm/case/sm-cs1.jpg", alt="")
											div(class="smm-case-text smm-headline pera-content")
												h3
													a(href="#") Paid Search Advertizing
												p Lorem ipsum dolor sit amet, consectetu r adipisicing elit, sed do eiusmod
											div(class="smm-case-popup")
												a(class="smm-video-box", href="assets/img/smm/case/sm-cs1.jpg")
													i(class="flaticon-plus")
									div(class="col-md-4")
										div(class="smm-case-innerbox position-relative")
											div(class="smm-case-img")
												img(src="assets/img/smm/case/sm-cs2.jpg", alt="")
											div(class="smm-case-text smm-headline pera-content")
												h3
													a(href="#") Paid Search Advertizing
												p Lorem ipsum dolor sit amet, consectetu r adipisicing elit, sed do eiusmod
											div(class="smm-case-popup")
												a(class="smm-video-box", href="assets/img/smm/case/sm-cs2.jpg")
													i(class="flaticon-plus")
									div(class="col-md-4")
										div(class="smm-case-innerbox position-relative")
											div(class="smm-case-img")
												img(src="assets/img/smm/case/sm-cs3.jpg", alt="")
											div(class="smm-case-text smm-headline pera-content")
												h3
													a(href="#") Paid Search Advertizing
												p Lorem ipsum dolor sit amet, consectetu r adipisicing elit, sed do eiusmod
											div(class="smm-case-popup")
												a(class="smm-video-box", href="assets/img/smm/case/sm-cs3.jpg")
													i(class="flaticon-plus")
						// 2nd tab content
						#social(class="tab-pane fade")
							div(class="smm-case-content")
								div(class="row")
									div(class="col-md-4")
										div(class="smm-case-innerbox position-relative")
											div(class="smm-case-img")
												img(src="assets/img/smm/case/sm-cs1.jpg", alt="")
											div(class="smm-case-text smm-headline pera-content")
												h3
													a(href="#") Paid Search Advertizing
												p Lorem ipsum dolor sit amet, consectetu r adipisicing elit, sed do eiusmod
											div(class="smm-case-popup")
												a(class="smm-video-box", href="assets/img/smm/case/sm-cs1.jpg")
													i(class="flaticon-plus")
									div(class="col-md-4")
										div(class="smm-case-innerbox position-relative")
											div(class="smm-case-img")
												img(src="assets/img/smm/case/sm-cs2.jpg", alt="")
											div(class="smm-case-text smm-headline pera-content")
												h3
													a(href="#") Paid Search Advertizing
												p Lorem ipsum dolor sit amet, consectetu r adipisicing elit, sed do eiusmod
											div(class="smm-case-popup")
												a(class="smm-video-box", href="assets/img/smm/case/sm-cs2.jpg")
													i(class="flaticon-plus")
									div(class="col-md-4")
										div(class="smm-case-innerbox position-relative")
											div(class="smm-case-img")
												img(src="assets/img/smm/case/sm-cs3.jpg", alt="")
											div(class="smm-case-text smm-headline pera-content")
												h3
													a(href="#") Paid Search Advertizing
												p Lorem ipsum dolor sit amet, consectetu r adipisicing elit, sed do eiusmod
											div(class="smm-case-popup")
												a(class="smm-video-box", href="assets/img/smm/case/sm-cs3.jpg")
													i(class="flaticon-plus")
						// 3ed tab content
						#web(class="tab-pane fade")
							div(class="smm-case-content")
								div(class="row")
									div(class="col-md-4")
										div(class="smm-case-innerbox position-relative")
											div(class="smm-case-img")
												img(src="assets/img/smm/case/sm-cs1.jpg", alt="")
											div(class="smm-case-text smm-headline pera-content")
												h3
													a(href="#") Paid Search Advertizing
												p Lorem ipsum dolor sit amet, consectetu r adipisicing elit, sed do eiusmod
											div(class="smm-case-popup")
												a(class="smm-video-box", href="assets/img/smm/case/sm-cs1.jpg")
													i(class="flaticon-plus")
									div(class="col-md-4")
										div(class="smm-case-innerbox position-relative")
											div(class="smm-case-img")
												img(src="assets/img/smm/case/sm-cs2.jpg", alt="")
											div(class="smm-case-text smm-headline pera-content")
												h3
													a(href="#") Paid Search Advertizing
												p Lorem ipsum dolor sit amet, consectetu r adipisicing elit, sed do eiusmod
											div(class="smm-case-popup")
												a(class="smm-video-box", href="assets/img/smm/case/sm-cs2.jpg")
													i(class="flaticon-plus")
									div(class="col-md-4")
										div(class="smm-case-innerbox position-relative")
											div(class="smm-case-img")
												img(src="assets/img/smm/case/sm-cs3.jpg", alt="")
											div(class="smm-case-text smm-headline pera-content")
												h3
													a(href="#") Paid Search Advertizing
												p Lorem ipsum dolor sit amet, consectetu r adipisicing elit, sed do eiusmod
											div(class="smm-case-popup")
												a(class="smm-video-box", href="assets/img/smm/case/sm-cs3.jpg")
													i(class="flaticon-plus")
						// 4th tab content
						#digital(class="tab-pane fade")
							div(class="smm-case-content")
								div(class="row")
									div(class="col-md-4")
										div(class="smm-case-innerbox position-relative")
											div(class="smm-case-img")
												img(src="assets/img/smm/case/sm-cs1.jpg", alt="")
											div(class="smm-case-text smm-headline pera-content")
												h3
													a(href="#") Paid Search Advertizing
												p Lorem ipsum dolor sit amet, consectetu r adipisicing elit, sed do eiusmod
											div(class="smm-case-popup")
												a(class="smm-video-box", href="assets/img/smm/case/sm-cs1.jpg")
													i(class="flaticon-plus")
									div(class="col-md-4")
										div(class="smm-case-innerbox position-relative")
											div(class="smm-case-img")
												img(src="assets/img/smm/case/sm-cs2.jpg", alt="")
											div(class="smm-case-text smm-headline pera-content")
												h3
													a(href="#") Paid Search Advertizing
												p Lorem ipsum dolor sit amet, consectetu r adipisicing elit, sed do eiusmod
											div(class="smm-case-popup")
												a(class="smm-video-box", href="assets/img/smm/case/sm-cs2.jpg")
													i(class="flaticon-plus")
									div(class="col-md-4")
										div(class="smm-case-innerbox position-relative")
											div(class="smm-case-img")
												img(src="assets/img/smm/case/sm-cs3.jpg", alt="")
											div(class="smm-case-text smm-headline pera-content")
												h3
													a(href="#") Paid Search Advertizing
												p Lorem ipsum dolor sit amet, consectetu r adipisicing elit, sed do eiusmod
											div(class="smm-case-popup")
												a(class="smm-video-box", href="assets/img/smm/case/sm-cs3.jpg")
													i(class="flaticon-plus")
						// 5th tab content