header(id="header_main", class="saas_two_main_header")
	div(class="container")
		div(class="s_main_menu")
			div(class="row align-items-center")
				div(class="col-md-2")
					div(class="brand_logo")
						a(href="index.html")
							img(src="assets/img/startup/logo/logo.png", alt="")
				div(class="col-md-10")
					div(class="main_menu_list clearfix float-right")
						nav(class="s2-main-navigation  clearfix ul-li")
							ul#main-nav(class="navbar-nav text-capitalize clearfix")
								li
									a(href='index.html') Home
								li
									a(href='about.html') About Us
								li
									a(href='works.html') our works
								li
									a(href='services.html') services
								li
									a(href='customers.html') customers
								li
									a(href='blog.html') blogs
								li
									a(href='#') ticket support
								li
									a(href='contact.html') contact us
								li(class="dropdown user")
									a(href="#") 
										i(class="fa fa-user")
									ul(class="dropdown-menu clearfix")
										li
											a(href="login.html") login
										li
											a(href="register.html") sign up
						div(class="saas_sign_up_btn text-center")
							a(href="arabic/index.html") Arabic
		// //desktop menu
		div(class="s2-mobile_menu relative-position")
			div(class="s2-mobile_menu_button s2-open_mobile_menu")
				i(class="fas fa-bars")
			div(class="s2-mobile_menu_wrap")
				div(class="mobile_menu_overlay s2-open_mobile_menu")
				div(class="s2-mobile_menu_content")
					div(class="s2-mobile_menu_close s2-open_mobile_menu")
						i(class="far fa-times-circle")
					div(class="m-brand-logo text-center")
						a(href="index.html")
							img(src="assets/img/startup/logo/logo.png", alt="")
					nav(class="s2-mobile-main-navigation  clearfix ul-li")
						ul#m-main-nav(class="navbar-nav text-capitalize clearfix")
							li
								a(href="#") Home
							li
								a(href="#") Home
							li
								a(href="#") Service
							li
								a(href="#") About
							li
								a(href="#") Features
							li
								a(href="#") Team
							li
								a(href="#") Pricing