div(class="header-area")
	div(class="container")
		div(class="row upper-nav")
			div(class=" text-left nav-logo")
				a(href="index.html", class="navbar-brand")
					img(src="../img/logo.png", alt="img")
			div(class="ml-auto nav-mega d-flex justify-content-end align-items-center")
				header#header(class="site-header")
					nav(class="navbar navbar-expand-md  static-nav")
						div(class="container position-relative megamenu-custom")
							a(class="navbar-brand center-brand", href="index-book-shop.html")
								img(src="../img/logo.png", alt="logo", class="logo-scrolled")
							div(class="collapse navbar-collapse")
								ul(class="navbar-nav ml-auto")
									li(class="nav-item")
										a(class="nav-link", href="index.html") الرئيسية
									li(class="nav-item dropdown static")
										a(class="nav-link dropdown-toggle", href="javascript:void(0)", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")  المنتجات  
										ul(class="dropdown-menu megamenu flexable-megamenu")
											li
												div(class="container")
													div(class="row")
														div(class="col-lg-3 col-md-6 col-sm-12 mengmenu_border")
															h5(class="dropdown-title bottom10")  الأصناف 
															ul
																li
																	i(class="lni-angle-double-right right-arrow")
																	a(class="dropdown-item", href="./product-listing.html") فن
																li
																	i(class="lni-angle-double-right right-arrow")
																	a(class="dropdown-item", href="./product-listing.html") ملابس
																li
																	i(class="lni-angle-double-right right-arrow")
																	a(class="dropdown-item", href="./product-listing.html") أطفالي
																li
																	i(class="lni-angle-double-right right-arrow")
																	a(class="dropdown-item", href="./product-listing.html") اكسسوارات
																li
																	i(class="lni-angle-double-right right-arrow")
																	a(class="dropdown-item", href="./product-listing.html") رجالي
																li
																	i(class="lni-angle-double-right right-arrow")
																	a(class="dropdown-item", href="./product-listing.html") حريمي
																li
																	i(class="lni-angle-double-right right-arrow")
																	a(class="dropdown-item", href="./product-listing.html") عطور
														div(class="col-lg-3 col-md-6 col-sm-12 mengmenu_border")
															h5(class="dropdown-title opacity-10")  أخرى 
															ul
																li
																	i(class="lni-angle-double-right right-arrow")
																	a(class="dropdown-item", href="./product-listing.html") فن
																li
																	i(class="lni-angle-double-right right-arrow")
																	a(class="dropdown-item", href="./product-listing.html") ملابس
																li
																	i(class="lni-angle-double-right right-arrow")
																	a(class="dropdown-item", href="./product-listing.html") أطفالي
																li
																	i(class="lni-angle-double-right right-arrow")
																	a(class="dropdown-item", href="./product-listing.html") اكسسوارات
																li
																	i(class="lni-angle-double-right right-arrow")
																	a(class="dropdown-item", href="./product-listing.html") رجالي
																li
																	i(class="lni-angle-double-right right-arrow")
																	a(class="dropdown-item", href="./product-listing.html") حريمي
																li
																	i(class="lni-angle-double-right right-arrow")
																	a(class="dropdown-item", href="./product-listing.html") عطور
														div(class="col-lg-3 col-md-6 col-sm-12 mengmenu_border")
															h5(class="dropdown-title opacity-10")  أخرى 
															ul
																li
																	i(class="lni-angle-double-right right-arrow")
																	a(class="dropdown-item", href="./product-listing.html") فن
																li
																	i(class="lni-angle-double-right right-arrow")
																	a(class="dropdown-item", href="./product-listing.html") ملابس
																li
																	i(class="lni-angle-double-right right-arrow")
																	a(class="dropdown-item", href="./product-listing.html") أطفالي
																li
																	i(class="lni-angle-double-right right-arrow")
																	a(class="dropdown-item", href="./product-listing.html") اكسسوارات
																li
																	i(class="lni-angle-double-right right-arrow")
																	a(class="dropdown-item", href="./product-listing.html") رجالي
																li
																	i(class="lni-angle-double-right right-arrow")
																	a(class="dropdown-item", href="./product-listing.html") حريمي
																li
																	i(class="lni-angle-double-right right-arrow")
																	a(class="dropdown-item", href="./product-listing.html") عطور
														div(class="col-lg-3 col-md-6 col-sm-12 mengmenu_border")
															h5(class="dropdown-title opacity-10")  أخرى  
															ul
																li
																	i(class="lni-angle-double-right right-arrow")
																	a(class="dropdown-item", href="./product-listing.html") فن
																li
																	i(class="lni-angle-double-right right-arrow")
																	a(class="dropdown-item", href="./product-listing.html") ملابس
																li
																	i(class="lni-angle-double-right right-arrow")
																	a(class="dropdown-item", href="./product-listing.html") أطفالي
																li
																	i(class="lni-angle-double-right right-arrow")
																	a(class="dropdown-item", href="./product-listing.html") اكسسوارات
																li
																	i(class="lni-angle-double-right right-arrow")
																	a(class="dropdown-item", href="./product-listing.html") رجالي
																li
																	i(class="lni-angle-double-right right-arrow")
																	a(class="dropdown-item", href="./product-listing.html") حريمي
																li
																	i(class="lni-angle-double-right right-arrow")
																	a(class="dropdown-item", href="./product-listing.html") عطور
									li(class="nav-item dropdown static")
										a(class="nav-link dropdown-toggle", href="javascript:void(0)", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")  العروض 
										ul(class="dropdown-menu megamenu flexable-megamenu")
											li
												div(class="container")
													div(class="row")
														div(class="col-lg-4 col-md-6 col-sm-12 mengmenu_border")
															h5(class="dropdown-title bottom10")  Categories 
															ul
																li
																	i(class="lni-angle-double-right right-arrow")
																	a(class="dropdown-item", href="./product-listing.html") Art
																li
																	i(class="lni-angle-double-right right-arrow")
																	a(class="dropdown-item", href="./product-listing.html") Autobiography
																li
																	i(class="lni-angle-double-right right-arrow")
																	a(class="dropdown-item", href="./product-listing.html") Biography
																li
																	i(class="lni-angle-double-right right-arrow")
																	a(class="dropdown-item", href="./product-listing.html") Chick lit
																li
																	i(class="lni-angle-double-right right-arrow")
																	a(class="dropdown-item", href="./product-listing.html") Anthology
																li
																	i(class="lni-angle-double-right right-arrow")
																	a(class="dropdown-item", href="./product-listing.html") Coming-of-age
																li
																	i(class="lni-angle-double-right right-arrow")
																	a(class="dropdown-item", href="./product-listing.html") Drama
														div(class="col-lg-4 col-md-6 col-sm-12 mengmenu_border")
															h5(class="dropdown-title opacity-10")  Others 
															ul
																li
																	i(class="lni-angle-double-right right-arrow")
																	a(class="dropdown-item", href="./product-listing.html") Crime
																li
																	i(class="lni-angle-double-right right-arrow")
																	a(class="dropdown-item", href="./product-listing.html") Dictionary
																li
																	i(class="lni-angle-double-right right-arrow")
																	a(class="dropdown-item", href="./product-listing.html") Health
																li
																	i(class="lni-angle-double-right right-arrow")
																	a(class="dropdown-item", href="./product-listing.html") History
																li
																	i(class="lni-angle-double-right right-arrow")
																	a(class="dropdown-item", href="./product-listing.html") Journal 
																li
																	i(class="lni-angle-double-right right-arrow")
																	a(class="dropdown-item", href="./product-listing.html") Horror
																li
																	i(class="lni-angle-double-right right-arrow")
																	a(class="dropdown-item", href="./product-listing.html") Poetry
														div(class="col-lg-4 col-md-6 col-sm-12 pt-3")
															a(href="javascript:void(0);")
																img(src="../img/featured-product.jpg", alt="image")
									li(class="nav-item dropdown position-relative")
										a(class="nav-link dropdown-toggle", href="javascript:void(0)", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") الصفحات
										div(class="dropdown-menu")
											ul
												li
													i(class="lni-angle-double-right right-arrow")
													a(class="dropdown-item", href="./product-listing.html") Listing One
												li
													i(class="lni-angle-double-right right-arrow")
													a(class="dropdown-item", href="./product-detail.html") Detail Page
												li
													i(class="lni-angle-double-right right-arrow")
												li
													i(class="lni-angle-double-right right-arrow")
													a(class="dropdown-item", href="./login.html") login Page
												li
													i(class="lni-angle-double-right right-arrow")
													a(class="dropdown-item", href="./register.html") register Page
												li
													i(class="lni-angle-double-right right-arrow")
													a(class="dropdown-item", href="./404.html") 404
												li
													i(class="lni-angle-double-right right-arrow")
													a(class="dropdown-item", href="./checkout.html") checkout
												li
													i(class="lni-angle-double-right right-arrow")
													a(class="dropdown-item", href="./favorite.html") favorite
												li
													i(class="lni-angle-double-right right-arrow")
													a(class="dropdown-item", href="./order-details.html") order details
												li
													i(class="lni-angle-double-right right-arrow")
													a(class="dropdown-item", href="./prev-orders.html") prev orders
												li
													i(class="lni-angle-double-right right-arrow")
													a(class="dropdown-item", href="./product-detail.html") product detail
												li
													i(class="lni-angle-double-right right-arrow")
													a(class="dropdown-item", href="./product-listing.html") product listing
												li
													i(class="lni-angle-double-right right-arrow")
													a(class="dropdown-item", href="./profile.html") profile
												li
													i(class="lni-angle-double-right right-arrow")
													a(class="dropdown-item", href="./shop-cart.html") shop cart
												li
													i(class="lni-angle-double-right right-arrow")
													a(class="dropdown-item", href="./thanks.html") thanks
									li(class="nav-item")
										a(class="nav-link", href="./contact.html") تواصل معنا
					// side menu
					div(class="side-menu opacity-0 gradient-bg hidden")
						div(class="inner-wrapper")
							span(class="btn-close btn-close-no-padding", id="btn_sideNavClose")
								i
								i
							nav(class="side-nav w-100")
								ul(class="navbar-nav")
									li(class="nav-item")
										a(class="nav-link", href="./product-listing.html")  HOME
									li(class="nav-item")
										a(class="nav-link collapsePagesSideMenu", data-toggle="collapse", href="#sideNavPages1")  BOOKS 
											i(class="fas fa-chevron-down")
										#sideNavPages1(class="collapse sideNavPages")
											ul(class="navbar-nav mt-2")
												li(class="nav-item")
													a(class="nav-link", href="./product-listing.html") Love Does
												li(class="nav-item")
													a(class="nav-link", href="./product-listing.html") No One Belongs
												li(class="nav-item")
													a(class="nav-link", href="./product-listing.html") As I Lay Dying
												li(class="nav-item")
													a(class="nav-link", href="./product-listing.html") Life is Elsewhere
												li(class="nav-item")
													a(class="nav-link", href="./product-listing.html") The Road
												li(class="nav-item")
													a(class="nav-link", href="./product-listing.html") Why Me?
											h5(class="sub-title") 1. Classic
											ul(class="navbar-nav mt-2")
												li(class="nav-item")
													a(class="nav-link", href="./product-listing.html") Lorna Doone
												li(class="nav-item")
													a(class="nav-link", href="./product-listing.html") Lord of Flies
												li(class="nav-item")
													a(class="nav-link", href="./product-listing.html") Kidnapped
												li(class="nav-item")
													a(class="nav-link", href="./product-listing.html") End World
											h5(class="sub-title") 2. Novel&apos;s
											ul(class="navbar-nav mt-2")
												li(class="nav-item")
													a(class="nav-link", href="./product-listing.html") Romance
												li(class="nav-item")
													a(class="nav-link", href="./product-listing.html") Fantasy
												li(class="nav-item")
													a(class="nav-link", href="./product-listing.html") Thrillers
												li(class="nav-item")
													a(class="nav-link", href="./product-listing.html") Historical Fiction
												li(class="nav-item")
													a(class="nav-link", href="./product-listing.html") Others
											h5(class="sub-title") 3. History
											ul(class="navbar-nav mt-2")
												li(class="nav-item")
													a(class="nav-link", href="./product-listing.html") Creative Thinking
												li(class="nav-item")
													a(class="nav-link", href="./product-listing.html") Historical Fiction
												li(class="nav-item")
													a(class="nav-link", href="./product-listing.html") Creative Thinking
												li(class="nav-item")
													a(class="nav-link", href="./product-listing.html") Personal Finance
									li(class="nav-item")
										a(class="nav-link collapsePagesSideMenu", data-toggle="collapse", href="#sideNavPages3")  E-BOOKS 
											i(class="fas fa-chevron-down")
										#sideNavPages3(class="collapse sideNavPages")
											ul(class="navbar-nav mt-2")
												li(class="nav-item")
													a(class="nav-link", href="./product-listing.html") Art
												li(class="nav-item")
													a(class="nav-link", href="./product-listing.html") Autobiography
												li(class="nav-item")
													a(class="nav-link", href="./product-listing.html") Biography
												li(class="nav-item")
													a(class="nav-link", href="./product-listing.html") Chick lit
												li(class="nav-item")
													a(class="nav-link", href="./product-listing.html") Coming-of-age
												li(class="nav-item")
													a(class="nav-link", href="./product-listing.html") Anthology
												li(class="nav-item")
													a(class="nav-link", href="./product-listing.html") Drama
											h5(class="sub-title") 1. Others
											ul(class="navbar-nav mt-2")
												li(class="nav-item")
													a(class="nav-link", href="./product-listing.html") Crime
												li(class="nav-item")
													a(class="nav-link", href="./product-listing.html")  Dictionary
												li(class="nav-item")
													a(class="nav-link", href="./product-listing.html")  Health
												li(class="nav-item")
													a(class="nav-link", href="./product-listing.html") History
												li(class="nav-item")
													a(class="nav-link", href="./product-listing.html") Horror
												li(class="nav-item")
													a(class="nav-link", href="./product-listing.html") Poetry
									li(class="nav-item")
										a(class="nav-link collapsePagesSideMenu", data-toggle="collapse", href="#sideNavPages2")  PAGES 
											i(class="fas fa-chevron-down")
										#sideNavPages2(class="collapse sideNavPages")
											ul(class="navbar-nav")
												li(class="nav-item")
													a(class="nav-link", href="./product-listing.html") Listing One
												li(class="nav-item")
													a(class="nav-link", href="./product-detail.html") Detail Page
												li(class="nav-item")
													a(class="nav-link", href="./shop-cart.html") ShopCart Page
												li(class="nav-item")
													a(class="nav-link", href="./login.html") login Page
												li(class="nav-item")
													a(class="nav-link", href="./register.html") register Page
												li(class="nav-item")
													a(class="nav-link", href="./404.html") 404
												li(class="nav-item")
													a(class="nav-link", href="./checkout.html") checkout
												li(class="nav-item")
													a(class="nav-link", href="./favorite.html") favorite
												li(class="nav-item")
													a(class="nav-link", href="./order-details.html") order details
												li(class="nav-item")
													a(class="nav-link", href="./prev-orders.html") prev orders
												li(class="nav-item")
													a(class="nav-link", href="./product-detail.html") product detail
												li(class="nav-item")
													a(class="nav-link", href="./product-listing.html") product listing
												li(class="nav-item")
													a(class="nav-link", href="./profile.html") profile
												li(class="nav-item")
													a(class="nav-link", href="./shop-cart.html") shop cart
												li(class="nav-item")
													a(class="nav-link", href="./thanks.html") thanks
									li(class="nav-item")
										a(class="nav-link", href="./contact.html") Contact
							div(class="side-footer w-100")
								ul(class="social-icons-simple white top40")
									li
										a(class="facebook-bg-hvr", href="javascript:void(0)")
											i(class="fab fa-facebook-f")
									li
										a(class="twitter-bg-hvr", href="javascript:void(0)")
											i(class="fab fa-twitter")
									li
										a(class="instagram-bg-hvr", href="javascript:void(0)")
											i(class="fab fa-instagram")
								p(class="whitecolor") &amp;copy; 
									span#year
									| Product Shop. Made With Love by ThemesIndustry
					div(id="close_side_menu", class="tooltip")
					// End side menu
				div(class="nav-utility")
					div(class="manage-icons d-inline-block")
						ul(class="d-flex justify-content-center align-items-center")
							li(class="d-inline-block")
								a(id="add_search_box")
									i(class="lni lni-search search-sidebar-hover")
							li(class="d-inline-block mini-menu-card")
								a(class="nav-link", id="add_cart_box", href="shop-cart.html")
									i(class="lni lni-shopping-basket")
										span 99
							a(href="javascript:void(0)", class="d-inline-block sidemenu_btn d-block", id="sidemenu_toggle")
								i(class="lni lni-menu")