script(src='../assets/js/jquery.js')
script(src='../assets/js/popper.min.js')
script(src='../assets/js/appear.js')
script(src='../assets/js/bootstrap.min.js')
script(src='../assets/js/aos.js')
script(src='../assets/js/owl.js')
script(src='../assets/js/wow.min.js')
script(src='../assets/js/pagenav.js')
script(src='../assets/js/parallax-scroll.js')
script(src='../assets/js/jquery.paroller.min.js')
script(src='../assets/js/jquery.barfiller.js')
script(src='../assets/js/slick.js')
script(src='../assets/js/jquery.fancybox.js')
script(src='../assets/js/smm.js')
script(src='../assets/js/crm.js')
script(src='../assets/js/jquery.mCustomScrollbar.concat.min.js')
script(src='../assets/js/script.js')